[submodule "service_face_vector"]
	path = service_face_vector
	url = git@hub.mos.ru:shift-python/y2024/homeworks/apanin/sercive_face_vector.git
	branch = feature/week6_2_db
[submodule "service_auth"]
	path = service_auth
	url = git@hub.mos.ru:shift-python/y2024/homeworks/apanin/service_auth.git
	branch = feature/db_postgres_migrations_auth
[submodule "service_transaction"]
	path = service_transaction
	url = git@hub.mos.ru:shift-python/y2024/homeworks/apanin/service_transaction.git
	branch = feature/week6_2_alembic_db_sqlalchemy